<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Connex official Landing Page site">
    <meta name="keywords" content="UX, Digital Transformation, APPS, Landing Page, Software Development">
    <meta name="author" content="Connex">
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/e35893a8b33e3332c5bdc9383728bff46112ca02/assets/img/logo-black.svg">
    <title>Connex Landing Page</title>
    <link rel="stylesheet" href="./landing-page.component.css">
</head>
<body>
<!-- Header and Navigation -->
<header>
    <nav class="navbar" aria-label="Main Navigation">
        <div class="navbar-logo">
            <img src="https://raw.githubusercontent.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/e35893a8b33e3332c5bdc9383728bff46112ca02/assets/img/logo-black.svg" alt="Connex Logo" class="logo">
        </div>
        <div class="menu-icon" id="menu-icon" aria-label="Menu">&#9776;</div>
        <ul class="navbar-links" id="navbar-links">
            <li class="nav-item"><a href="#home" aria-label="Home">Home</a></li>
            <li class="nav-item"><a href="#aboutus" aria-label="About Us">About Us</a></li>
            <li class="nav-item"><a href="#services" aria-label="Services">Services</a></li>
            <li class="nav-item"><a href="#contactus" aria-label="Contact Us">Contact Us</a></li>
        </ul>
    </nav>
    <script src="/assets/navbarscript.js"></script>
</header>

<!-- Home Section -->
<section id="home" aria-label="Home Section">
    <div class="home-two-columns container">
        <div class="container">
            <img src="https://raw.githubusercontent.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/e35893a8b33e3332c5bdc9383728bff46112ca02/assets/img/logo-color.svg" class="imageHome" alt="Connex Logo Color">
        </div>
        <div class="btn-info">
            <h3>Connex</h3>
            <p>Connex is a platform created to facilitate and
                optimize the connection between companies and influencers,
                allowing both to find strategic partners efficiently.
                The platform offers tools that simplify the process of identifying,
                selecting and managing collaborations between brands and influencers.</p>
            <a href="/login"><button class="btn" aria-label="Join Now">Join Now!</button></a>
        </div>
    </div>
</section>


<!-- About Us Section -->
<section id="aboutus" aria-label="About Us Section">
    <h1 class="title">InnovaTech Staff</h1>
    <section class="cards" aria-label="Team Members">
        <div class="card" aria-label="Sebastian Escobar">
            <div class="text">
                <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/main/assets/img/Sebastian%20Escobar%20Palomino.png?raw=true" alt="Sebastian Escobar">
                <h2 class="textBackground">Sebastian Escobar</h2>
                <p class="textBackground">Passionate about artificial intelligence and backend development.
                    Always looking to optimize processes and improve software efficiency.</p>
            </div>
        </div>
        <div class="card" aria-label="Mathias Javier">
            <div class="text">
                <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/main/assets/img/MathiasJM.jpg?raw=true" alt="Mathias Javier">
                <h2 class="textBackground">Mathias Javier</h2>
                <p class="textBackground">Team leader with project management skills.
                    Encourages collaboration and is always ready to solve problems and overcome challenges.</p>
            </div>
        </div>
        <div class="card" aria-label="Ian Macavilca">
            <div class="text">
                <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/main/assets/img/IanMQ.png?raw=true" alt="Ian Macavilca">
                <h2 class="textBackground">Ian Macavilca</h2>
                <p class="textBackground">Mobile development enthusiast and clean code advocate.
                    Dedicated to building robust and maintainable applications.</p>
            </div>
        </div>
        <div class="card" aria-label="Marco Nakasone">
            <div class="text">
                <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/develop/assets/img/MarcoN.png?raw=true" alt="Marco Nakasone">
                <h2 class="textBackground">Marco Nakasone</h2>
                <p class="textBackground">Expert in databases and computer security.
                    He has a strong interest in data protection and ensuring the integrity of information.</p>
            </div>
        </div>
        <div class="card" aria-label="Jorge Laban">
            <div class="text">
                <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/main/assets/img/JorgeLH.png?raw=true" alt="Jorge Laban">
                <h2 class="textBackground">Jorge Laban</h2>
                <p class="textBackground">Front-end specialist with a keen eye for design.
                    Loves creating intuitive and engaging interfaces that enhance the user experience.</p>
            </div>
        </div>
    </section>
</section>

<section id="services">
    <h2 class="sectionTitle">For you</h2>
    <div class="filters">
        <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/develop/assets/img/fy1.png?raw=true" alt="Advanced search and filtering of influencers">
        <h2>Advanced search and<br>filtering of influencers</h2>
    </div>
    <div class="filters">
        <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/develop/assets/img/fy2.png?raw=true" alt="Campaign performance analysis">
        <h2>Campaign performance analysis</h2>
    </div>
    <div class="filters">
        <img src="https://github.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-landing-page/blob/develop/assets/img/fy3.png?raw=true" alt="Campaign management and partnership tracking">
        <h2>Campaign management<br>and partnership tracking</h2>
    </div>
</section>
<footer id="contactus">
    <h2>Contact Us</h2>
    <p>For more information, please reach out to us via our social media channels.</p>
    <div class="social-media">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
    </div>
</footer>
</body>
</html>