.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #295F98;
  color: white;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.toolbar-left img {
  width: 40px;
  margin-right: 10px;
}

.toolbar-right button {
  background-color: #0B4078;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.toolbar-right button:hover {
  background-color: #d1e4f1;
  color: #0B4078;
}
