<div class="container">
  <div class="logo">
    <img src="https://raw.githubusercontent.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-WebApplication-FrontEnd/640a2ad27a9c6cb1fa91700c37d37bd972559885/src/assets/connex-logo.svg" alt="Connex Logo" />
  </div>
  <div class="login-form">
    <h1>¡WELCOME BACK!</h1>
    <input type="email" placeholder="Correo Electrónico" />
    <input type="password" placeholder="Password" />
    <button>LOG IN</button>
    <a href="/forgot-password">You forgot your password?</a>
  </div>
</div>
