<div class="container-fluid" style="background-image: url('https://d37oebn0w9ir6a.cloudfront.net/account_27046/Audienseblog-17BestB2BInfluencerMarketingCampaigns_2e88814d208f9e948f4f8c80afbef316.png');
     background-size: cover;
     background-position: center;
     min-height: 100vh; backdrop-filter: blur(8px);">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh">
        <div class="logo col-md-6 col-lg-4 text-center">
            <img src="https://raw.githubusercontent.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-WebApplication-FrontEnd/640a2ad27a9c6cb1fa91700c37d37bd972559885/src/assets/connex-logo.svg" alt="Connex Logo" class="img-fluid" style="border-radius: 15px;" />
        </div>
        <div class="col-md-6 col-lg-4 p-5">
            <div class="card p-4 shadow-sm p-5 top-100 w-100">
                <h1 class="text-center mb-4">FORGOT YOUR PASSWORD?</h1>
                <div id="content" class="text-center">
                    <input type="text" class="form-control mb-3" placeholder="Enter code" />
                    <button class="p-4 btn btn-primary btn-block mb-3 form-control" (click)="onSendCode()">RECOVER PASSWORD</button>
                </div>
            </div>
        </div>
    </div>
</div>