<div class="sidebar">
    <div class="logo">
        <img src="https://g4-upc-pre-si729-2402-sw54-innovatech.github.io/upc-pre-202402-si729-SW54-InnovaTech-landing-page/assets/img/logo-black.svg" alt="Logo">
        <h2>Connex</h2>
    </div>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/campaigns">Campaigns</a></li>
        <li><a href="/configuration">Configuration</a></li>
        <li><a href="/login">Exit</a></li>
    </ul>
</div>