<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar color="primary">Connex</mat-toolbar>
        <mat-nav-list>
            <mat-list-item>
                <mat-icon>bar_chart</mat-icon>
                <a matLine href="/user-interface-main">Stats</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>insights</mat-icon>
                <a matLine href="/user-interface-main">Instagram Stats</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>facebook</mat-icon>
                <a matLine href="/user-interface-main">Facebook Stats</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>tiktok</mat-icon>
                <a matLine href="/user-interface-main">TikTok Stats</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>campaign</mat-icon>
                <a matLine href="/user-interface-main">Campaigns</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>help</mat-icon>
                <a matLine href="/user-interface-main">Help</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>settings</mat-icon>
                <a matLine href="/user-interface-main">Configurations</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Aquí va el contenido principal -->
    </mat-sidenav-content>
</mat-sidenav-container>