<div class="sidebar">
    <div class="logo">
        <img src="https://g4-upc-pre-si729-2402-sw54-innovatech.github.io/upc-pre-202402-si729-SW54-InnovaTech-landing-page/assets/img/logo-black.svg" alt="Logo">
        <h2>Connex</h2>
    </div>
    <ul>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Instagram Stats</a></li>
        <li><a href="#">Facebook Stats</a></li>
        <li><a href="#">TikTok Stats</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="#">Beauty Campaigns</a></li>
        <li><a href="#">Foodie Campaigns</a></li>
        <li><a href="#">Technology Campaigns</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Configurations</a></li>
    </ul>
</div>
