.sidenav-container {
    height: 100%;
}
mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #295F98;
}

mat-list-item {
    display: flex;
    align-items: center;
}

mat-icon {
    margin-right: 10px;
}

.sidenav {
    width: 250px;
    background-color: #295F98;
}

.sidenav {
    width: 250px;
    background-color: #295F98;
    color: white; /* Cambia el color del texto a blanco */
}

mat-toolbar {
    background-color: #295F98;
    color: white; /* Cambia el color del texto a blanco */
}

mat-list-item a {
    color: white; /* Cambia el color del texto de los enlaces a blanco */
}

mat-icon {
    color: white; /* Cambia el color de los iconos a blanco */
}