<div class="profile">
    <h2>Configuraciones</h2>
    <div class="profile-container">
      <div class="profile-info">
        <img src="assets/user-photo.jpg" alt="User Photo" class="profile-pic">
        <h3>Miguel Rodriguez</h3>
        <p>@MIRODRIGUEZ_12</p>
        <button>Subir Foto</button>
        <button>Actualizar Portafolio</button>
      </div>
      <div class="profile-portfolio">
        <img src="assets/portfolio1.jpg" alt="Post 1">
        <img src="assets/portfolio2.jpg" alt="Post 2">
        <img src="assets/portfolio3.jpg" alt="Post 3">
        <img src="assets/portfolio4.jpg" alt="Post 4">
      </div>
    </div>
  </div>
  