<div class="container">
    <div class="logo">
        <img src="https://raw.githubusercontent.com/G4-UPC-PRE-SI729-2402-SW54-InnovaTech/upc-pre-202402-si729-SW54-InnovaTech-WebApplication-FrontEnd/640a2ad27a9c6cb1fa91700c37d37bd972559885/src/assets/connex-logo.svg" alt="Connex Logo" />
    </div>
    <div class="forgot-password" id="forgot_content">
        <h1>FORGOT YOUR PASSWORD?</h1>
        <input type="text" placeholder="Enter email" />
        <button (click)="onSendCode()">SEND CODE</button>
    </div>
</div>